<div class="container-fluid" style="background-color:black" >
    <nav class="navbar navbar-dark">
        <center><h1 style=" color: white">WELCOME TO BURGER QUEEN</h1></center>
    </nav>
    <div class="col-md-12">
      <img src="http://freepngimages.com/wp-content/uploads/2016/11/bacon-burger.png" height="800">
      {{!-- <p>Would you like to order your burger!!</p> --}}
       <button type="submit" style="margin-left:180px; width:180px; height: 50px; background-color:chocolate; border-radius: 50px; font-size:20px"><a href="/burgers">Order your burger</a></button>
    </div>
</div>